.navbar-brand {
    font-size: 20pt;
}

.portfolio-header {
    color: white;
    font-size:  25pt;
}

.container {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    padding: 10px;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: slategray;
    text-align: center;
    position: fixed;
    bottom: 0;
    min-width: 100%;
}


.footer h2 {
    font-size: 20px;
}

@media screen and (min-width:500px) {
    footer {
        position: center; 
        padding: 5px;
        min-width: 100%;
    }
}

@media screen and (min-width:500px) {
    .container {
        margin-bottom: 100px;
    }
}
